/* -------------------- */
/*         POLICE       */
/* -------------------- */

@font-face {
    font-family: 'Belligerent';
    src: url('fonts/belligerent-webfont.eot') format('opentype'),
         url('fonts/belligerent-webfont.svg') format('svg'),
         url('fonts/belligerent-webfont.ttf') format('truetype'),
         url('fonts/belligerent-webfont.woff') format('woff');
}

/* -------------------- */
/*        GENERAL       */
/* -------------------- */

/* ---- police ---- */
a, p {
    font-family: 'Georgia', 'Times New Roman', 'Times', 'serif';
}

/* -------------------- */
/*         HEADER       */
/* -------------------- */

/* ---- dégradé icône caddie ---- */
.fa-shopping-cart {
    background: linear-gradient(to bottom right, #EE8438 0%, #935EF6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ---- logo ---- */
nav a h1 {
    font-family: 'Belligerent', 'Georgia', 'Times New Roman', 'Times', 'serif';
    font-size: 3.2rem;
}

/* ---- liens navigation ---- */
nav a {
    font-size: 1.2rem;
}

/* -------------------- */
/*       CAROUSEL       */
/* -------------------- */

/* ---- taille carousel ---- */
.width_carousel {
    width: 800px;
}

/* -------------------- */
/*        WELCOME       */
/* -------------------- */

article p {
    font-size: 1.4rem;
}

/* -------------------- */
/*       PRODUCTS       */
/* -------------------- */

/* ---- couleur bouton des produits ---- */
.color_btn {
    color: #157E7E;
    border-color: #157E7E;
}

.color_btn:hover {
    background-color: #157E7E;
    color: white;
}

/* -------------------- */
/*     PRESENTATION     */
/* -------------------- */

/* ---- background presentation ---- */
.grey-bg {
    background-color: #e9ecef;
}

/* -------------------- */
/*        FOOTER        */
/* -------------------- */

/* ---- taille texte ---- */
.footer_size {
    font-size: 0.9rem;
}

/* ---- taille + couleur logo réseaux sociaux et mentions légales    ---- */
.fa {
    font-size: 2rem;
}

.fa, .footer_mentions {
    color: white;
}

.fa:hover, .footer_mentions:hover {
    color: rgba(255, 255, 255, 0.541);
}
